.hii{
  background-color: pink;
  text-align: center;
  letter-spacing: 20px;

}

.gg{
  
  background-color: khaki;
  
}
.gg{
    
  padding-left: 50%;

}

.oo:hover{
  background-color: black;
  color: blanchedalmond;
  cursor: pointer;
  }
  .oo{
    padding-left: 50%;
  }

.www{
  margin-left: 93%;
}

.you:hover{
  background-color: mediumorchid;

}
.lii{
    
  border-radius: 10px;
  background-color: #00ffd9;
  color: black;
  border: none;
  padding: 15px 10px;

}
.lii{
  text-decoration: black;
}
